<div class="gr">
    <!-- <div class="add">
        <div class="addbtn">Add Paint!</div>
        <div class="add-hidden" id="add-hidden"><app-add></app-add></div>
    </div>
    <div class="update">
        <div class="updbtn">Update Paint!</div>
        <div class="upd-hidden" id="upd-hidden"><app-upd></app-upd></div>
    </div>
    <div class="remove">
        <div class="rmbtn">Remove Paint!</div>
        <div class="rm-hidden" id="rm-hidden"><app-rm></app-rm></div>
    </div> -->
    <img src="assets/UML.jpg">
</div>