<div class="gr">


<div *ngFor="let a of paintList">
    <h2>{{a.title}}</h2>
    <h3>{{a.type}}<br>
    {{a.price}} UAH</h3>
</div>
</div>
<a href="./Servlet1">Servlet</a>
<div class="gr2">
    <div class="add">
        <div class="addbtn">Add Paint!</div>
        <div class="add-hidden" id="add-hidden"><app-add></app-add></div>
    </div>
    <div class="remove">
        <div class="rmbtn">Remove Paint!</div>
        <div class="rm-hidden" id="rm-hidden"><app-rm></app-rm></div>
    </div>
</div>